<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.buscador}"></title>
</head>
<body>
    <h1 th:text="#{title.lista}" ></h1>
    <div th:each="trabajo : ${trabajos}">
        <p><strong>Nombre:</strong> <span th:text="${trabajo.nombre}"></span></p>
        <p><strong>Tipo:</strong> <span th:text="${trabajo.tipo}"></span></p>
        <hr>
    </div>
    <a th:href="@{/}" th:text="#{link.volver}"></a>
</body>
</html>